.Header {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width:100%;
    overflow: hidden;
    background-image: url(./../../Assets/Images/headerBack.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}

.Heading {
    width: 140%;
    font-size: 2.9em;
    letter-spacing: 0.5px;
}

.TextLeft {
    width: 46.5%;

    font-size: 1.5em;
    margin: 9% 0 auto 10%;
    padding-left: 9%;
    color:#184C7F;
}

.TextRight {
    width: 60%;
    background-color: 'orange';
    background-image: url(./../../Assets/Images/telefon-mockup.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    transform: rotate(8deg) scale(1.25);
}

.hsText {
    line-height:56px;
    padding-top: 8%;
    width:97%;
}

.TextLeft .hsBtn {
    background:#fff;
    color:var(--theme-color);
    padding:20px 78px;
    font-weight:900;
    font-size: 0.75em;
    margin-top: 0.5%;
}

.Icon {
    vertical-align: -16%;
    margin: auto 0;
}

@media screen and (max-width: 500px) {
    .Head {
        flex-direction: column;
    }
    .Header {
        text-align: center;
        font-size: 12px;
        flex-direction: column-reverse;
        background-size: cover;
        padding-bottom: 10%;
        height: auto;
    }
    .TextLeft {
        width: 90%;
        font-size: 1.2em;
        text-align: left;
        margin:15% 0 0 0;
    }
    .TextLeft h1 {
        margin-top: 0;
    }
    .Heading {
        width:auto;
    }
    .TextRight {
        height:300px;
        margin:0 auto;
        margin-top: 20%;
        width:100%;
        background-position: center;
        background-size: cover;
        transform: none;
    }
}